# Financial Measures

In [13]:
import pandas as pd
import numpy as np
import requests

## current ratio

\frac{current assets}{current liabilities}

In [16]:
# Current Ratio
balSheet = pd.read_csv("/home/dside/Documents/GitHub/MunicipalData/balancesheet_total.csv")
balSheet

,Unnamed: 0,mun_name,mun_code,account_type,label,total_amount,Province
0,2013,Buffalo City,BUF,AUDA,Total Community Wealth / Equity,10809511000,Eastern Cape
1,2013,Buffalo City,BUF,AUDA,Total Non-Current Liabilities,978533000,Eastern Cape
2,2013,Buffalo City,BUF,AUDA,Total Current Liabilities,1261827000,Eastern Cape
3,2013,Buffalo City,BUF,AUDA,Total Net Assets and Liabilities,13049871000,Eastern Cape
4,2013,Buffalo City,BUF,AUDA,Total Non-Current Assets,10483393000,Eastern Cape
5,2013,Buffalo City,BUF,AUDA,Total Current Assets,2566478000,Eastern Cape
6,2013,Buffalo City,BUF,AUDA,Total Assets,13049871000,Eastern Cape
7,2013,City of Cape Town,CPT,AUDA,Total Community Wealth / Equity,22457196152,Western Cape
8,2013,City of Cape Town,CPT,AUDA,Total Non-Current Liabilities,11488749793,Western Cape
9,2013,City of Cape Town,CPT,AUDA,Total Current Liabilities,7988696088,Western Cape
10,2013,City of Cape Town,CPT,AUDA,Total Net Assets and Liabilities,41934642033,Western Cape
11,2013,City of Cape Town,CPT,AUDA,Total Non-Current Assets,29033826744,Western Cape
12,2013,City of Cape Town,CPT,AUDA,Total Current Assets,12900815289,Western Cape
13,2013,City of Cape Town,CPT,AUDA,Total Assets,41934642033,Western Cape
14,2013,West Coast,DC1,AUDA,Total Community Wealth / Equity,311995964,Western Cape
15,2013,West Coast,DC1,AUDA,Total Non-Current Liabilities,175412677,Western Cape
16,2013,West Coast,DC1,AUDA,Total Current Liabilities,42313476,Western Cape
17,2013,West Coast,DC1,AUDA,Total Net Assets and Liabilities,529722117,Western Cape
18,2013,West Coast,DC1,AUDA,Total Non-Current Assets,351132355,Western Cape
19,2013,West Coast,DC1,AUDA,Total Current Assets,178589762,Western Cape
20,2013,West Coast,DC1,AUDA,Total Assets,529722117,Western Cape
21,2013,Cacadu,DC10,AUDA,Total Community Wealth / Equity,248109406,Eastern Cape
22,2013,Cacadu,DC10,AUDA,Total Non-Current Liabilities,60657250,Eastern Cape
23,2013,Cacadu,DC10,AUDA,Total Current Liabilities,33328357,Eastern Cape
24,2013,Cacadu,DC10,AUDA,Total Net Assets and Liabilities,342095013,Eastern Cape
25,2013,Cacadu,DC10,AUDA,Total Non-Current Assets,85037165,Eastern Cape
26,2013,Cacadu,DC10,AUDA,Total Current Assets,257057848,Eastern Cape
27,2013,Cacadu,DC10,AUDA,Total Assets,342095013,Eastern Cape
28,2013,Amathole,DC12,AUDA,Total Community Wealth / Equity,3719751069,Eastern Cape
29,2013,Amathole,DC12,AUDA,Total Non-Current Liabilities,151721009,Eastern Cape
...,...,...,...,...,...,...,...
5787,2015,Bitou,WC047,AUDA,Total Current Assets,158886422,Western Cape
5788,2015,Bitou,WC047,AUDA,Total Assets,984396330,Western Cape
5789,2015,Knysna,WC048,AUDA,Total Community Wealth / Equity,815702477,Western Cape
5790,2015,Knysna,WC048,AUDA,Total Non-Current Liabilities,234222554,Western Cape
5791,2015,Knysna,WC048,AUDA,Total Current Liabilities,110045515,Western Cape
5792,2015,Knysna,WC048,AUDA,Total Net Assets and Liabilities,1159970546,Western Cape
5793,2015,Knysna,WC048,AUDA,Total Non-Current Assets,989976749,Western Cape
5794,2015,Knysna,WC048,AUDA,Total Current Assets,169993797,Western Cape
5795,2015,Knysna,WC048,AUDA,Total Assets,1159970546,Western Cape
5796,2015,Laingsburg,WC051,AUDA,Total Community Wealth / Equity,173808167,Western Cape
5797,2015,Laingsburg,WC051,AUDA,Total Non-Current Liabilities,8132842,Western Cape
5798,2015,Laingsburg,WC051,AUDA,Total Current Liabilities,12721615,Western Cape
5799,2015,Laingsburg,WC051,AUDA,Total Net Assets and Liabilities,194662624,Western Cape
5800,2015,Laingsburg,WC051,AUDA,Total Non-Current Assets,164953922,Western Cape
5801,2015,Laingsburg,WC051,AUDA,Total Current Assets,29708702,Western Cape
5802,2015,Laingsburg,WC051,AUDA,Total Assets,194662624,Western Cape
5803,2015,Prince Albert,WC052,AUDA,Total Community Wealth / Equity,92934741,Western Cape
5804,2015,Prince Albert,WC052,AUDA,Total Non-Current Liabilities,12564205,Western Cape
5805,2015,Prince Albert,WC052,AUDA,Total Current Liabilities,12446318,Western Cape
5806,2015,Prince Albert,WC052,AUDA,Total Net Assets and Liabilities,117945264,Western Cape
5807,2015,Prince Albert,WC052,AUDA,Total Non-Current Assets,101782559,Western Cape
5808,2015,Prince Albert,WC052,AUDA,Total Current Assets,16162705,Western Cape
5809,2015,Prince Albert,WC052,AUDA,Total Assets,117945264,Western Cape
5810,2015,Beaufort West,WC053,AUDA,Total Community Wealth / Equity,435119174,Western Cape
5811,2015,Beaufort West,WC053,AUDA,Total Non-Current Liabilities,44437765,Western Cape
5812,2015,Beaufort West,WC053,AUDA,Total Current Liabilities,57049643,Western Cape
5813,2015,Beaufort West,WC053,AUDA,Total Net Assets and Liabilities,536606582,Western Cape
5814,2015,Beaufort West,WC053,AUDA,Total Non-Current Assets,469219001,Western Cape
5815,2015,Beaufort West,WC053,AUDA,Total Current Assets,67387581,Western Cape
5816,2015,Beaufort West,WC053,AUDA,Total Assets,536606582,Western Cape

In [60]:
currAssets = balSheet[balSheet["label"] == "Total Current Assets"]
currAssets = currAssets[['Unnamed: 0', 'mun_name','mun_code','label', 'total_amount']]
currAssets.sort_values('mun_code')
currAssets.head()

    Unnamed: 0           mun_name mun_code                 label  total_amount
5         2013       Buffalo City      BUF  Total Current Assets    2566478000
12        2013  City of Cape Town      CPT  Total Current Assets   12900815289
19        2013         West Coast      DC1  Total Current Assets     178589762
26        2013             Cacadu     DC10  Total Current Assets     257057848
33        2013           Amathole     DC12  Total Current Assets     786902272

In [62]:
currLiabilities = balSheet[balSheet["label"] == "Total Current Liabilities"]
currLiabilities = currLiabilities[['Unnamed: 0','mun_name','mun_code','label', 'total_amount']]
currLiabilities.sort_values('mun_code')
#currLiabilities.head()

#currLiabilities[currLiabilities["mun_code"] == "BUF"]

,Unnamed: 0,mun_name,mun_code,label,total_amount
2,2013,Buffalo City,BUF,Total Current Liabilities,1261827000
1941,2014,Buffalo City,BUF,Total Current Liabilities,1099052371
3887,2015,Buffalo City,BUF,Total Current Liabilities,1075114607

In [65]:
result = currAssets.merge(currLiabilities, on = 'mun_code', how = 'left')
result

result = result[['Unnamed: 0_x', 'mun_name_x', 'mun_code' ,'total_amount_x','total_amount_y']]
result = result.rename(columns = {'mun_name_x': 'mun_name' , 'total_amount_x': 'curr_assets', 'total_amount_y':'curr_liab'  })

#calculating curr ratio
result['currRatio'] = result['curr_assets']/result['curr_liab']
result

,Unnamed: 0_x,mun_name,mun_code,curr_assets,curr_liab,currRatio
0,2013,Buffalo City,BUF,2566478000,1261827000,2.033938
1,2013,Buffalo City,BUF,2566478000,1099052371,2.335174
2,2013,Buffalo City,BUF,2566478000,1075114607,2.387167
3,2013,City of Cape Town,CPT,12900815289,7988696088,1.614884
4,2013,City of Cape Town,CPT,12900815289,8218660533,1.569698
5,2013,City of Cape Town,CPT,12900815289,8729039080,1.477919
6,2013,West Coast,DC1,178589762,42313476,4.220636
7,2013,West Coast,DC1,178589762,45790104,3.900182
8,2013,West Coast,DC1,178589762,52774045,3.384045
9,2013,Cacadu,DC10,257057848,33328357,7.712887
10,2013,Cacadu,DC10,257057848,36149934,7.110880
11,2013,Cacadu,DC10,257057848,42232700,6.086702
12,2013,Amathole,DC12,786902272,245670846,3.203076
13,2013,Amathole,DC12,786902272,252454547,3.117006
14,2013,Amathole,DC12,786902272,570147292,1.380174
15,2013,Chris Hani,DC13,578035114,257165175,2.247719
16,2013,Chris Hani,DC13,578035114,189277016,3.053911
17,2013,Chris Hani,DC13,578035114,231583295,2.496014
18,2013,Joe Gqabi,DC14,94097956,75615553,1.244426
19,2013,Joe Gqabi,DC14,94097956,118105547,0.796728
20,2013,Joe Gqabi,DC14,94097956,130957892,0.718536
21,2013,O.R.Tambo,DC15,509204382,453144386,1.123713
22,2013,O.R.Tambo,DC15,509204382,410357551,1.240880
23,2013,Xhariep,DC16,2790065,7303639,0.382010
24,2013,Xhariep,DC16,2790065,7228590,0.385976
25,2013,Xhariep,DC16,2790065,11641744,0.239660
26,2013,Lejweleputswa,DC18,41539383,10268363,4.045375
27,2013,Lejweleputswa,DC18,41539383,13044232,3.184502
28,2013,Lejweleputswa,DC18,41539383,15101012,2.750768
29,2013,Thabo Mofutsanyane,DC19,45283285,28404222,1.594245
...,...,...,...,...,...,...
2457,2015,Kannaland,WC041,40537284,49497523,0.818976
2458,2015,Kannaland,WC041,40537284,59802126,0.677857
2459,2015,Kannaland,WC041,40537284,69330278,0.584698
2460,2015,Hessequa,WC042,176409315,49284102,3.579437
2461,2015,Hessequa,WC042,176409315,54798344,3.219245
2462,2015,Hessequa,WC042,176409315,97775198,1.804234
2463,2015,Mossel Bay,WC043,421712253,131438109,3.208447
2464,2015,Mossel Bay,WC043,421712253,151599120,2.781759
2465,2015,Mossel Bay,WC043,421712253,181842348,2.319109
2466,2015,George,WC044,715242989,264597550,2.703135
2467,2015,George,WC044,715242989,384864160,1.858430
2468,2015,George,WC044,715242989,328802767,2.175295
2469,2015,Oudtshoorn,WC045,88898041,86698286,1.025373
2470,2015,Oudtshoorn,WC045,88898041,104096195,0.853999
2471,2015,Oudtshoorn,WC045,88898041,182623052,0.486784
2472,2015,Bitou,WC047,158886422,95461351,1.664406
2473,2015,Bitou,WC047,158886422,80198411,1.981167
2474,2015,Bitou,WC047,158886422,92404050,1.719475
2475,2015,Knysna,WC048,169993797,105417514,1.612576
2476,2015,Knysna,WC048,169993797,111996917,1.517844
2477,2015,Knysna,WC048,169993797,110045515,1.544759
2478,2015,Laingsburg,WC051,29708702,7208183,4.121524
2479,2015,Laingsburg,WC051,29708702,7003134,4.242201
2480,2015,Laingsburg,WC051,29708702,12721615,2.335293
2481,2015,Prince Albert,WC052,16162705,9177158,1.761188
2482,2015,Prince Albert,WC052,16162705,17954998,0.900179
2483,2015,Prince Albert,WC052,16162705,12446318,1.298593
2484,2015,Beaufort West,WC053,67387581,46344105,1.454070
2485,2015,Beaufort West,WC053,67387581,46033645,1.463877
2486,2015,Beaufort West,WC053,67387581,57049643,1.181210

## Capital vs Total expenditure

\frac{capital expenditure}{operating expenditure}

In [41]:
IncExp = pd.read_csv("/home/dside/Documents/GitHub/MunicipalData/Income_Expenditure_total.csv")
IncExp.head()

,Unnamed: 0,total_amount,account_type,mun_code,mun_name,label,Province
0,2013,4443155298,AUDA,BUF,Buffalo City,Total Operating Revenue Generated,Eastern Cape
1,2013,4443155298,AUDA,BUF,Buffalo City,Total Direct Operating Revenue,Eastern Cape
2,2013,0,AUDA,BUF,Buffalo City,Total Indirect Operating Revenue,Eastern Cape
3,2013,4443155298,AUDA,BUF,Buffalo City,Total Operating Revenue,Eastern Cape
4,2013,3951868256,AUDA,BUF,Buffalo City,Total Direct Operating Expenditure,Eastern Cape

In [42]:
#CapAqui = pd.read_csv("capital_2016.csv")
#CapAqui.head()

In [172]:
#operating expenditure
OpExp = IncExp[IncExp["label"] == "Total Operating Expenditure"]
OpExp = OpExp[['Unnamed: 0', 'mun_name', 'mun_code', 'label', 'total_amount']]
OpExp.sort_values('mun_code')
OpExp.head()

,Unnamed: 0,mun_name,mun_code,label,total_amount
6,2013,Buffalo City,BUF,Total Operating Expenditure,3951868256
14,2013,City of Cape Town,CPT,Total Operating Expenditure,33231144093
22,2013,West Coast,DC1,Total Operating Expenditure,251028646
30,2013,Cacadu,DC10,Total Operating Expenditure,117769673
38,2013,Amathole,DC12,Total Operating Expenditure,1114395066

In [44]:
#capital expenditure
#CapExp = CapAqui[CapAqui["item.label"] == "TOTAL"]
#CapExp.head()
#type(CapExp.renewal_of_existing.sum)
#CapExp['CapTotal'] = sum('renewal_of_existing.sum' + 'repairs_maintenance.sum' + 
#                         'total_assets.sum' + 'new_assets.sum' + 'asset_register_summary.sum')
#CapExp.head()

## cash / cost coverage

This ration is used to indicate the municipalities ability to meet its operating commitments from cach and short-term investment without collecting any additional revenue.

\frac{cash - unspent conditional grants - overdraft + short-term investment}{Operational expenditure}

note:conditional grants, short-term investment still needs to be added

In [98]:
cash = pd.read_csv("/home/dside/Documents/GitHub/MunicipalData/Cash_flow_total.csv")
cash.head()

,Unnamed: 0,total_amount,account_type,mun_code,mun_name,label,Province
0,2013,3916670850,AUDA,BUF,Buffalo City,Total Cash Receipts by Source,Eastern Cape
1,2013,3595324786,AUDA,BUF,Buffalo City,Total Cash Payments by Type,Eastern Cape
2,2013,26880069000,AUDA,CPT,City of Cape Town,Total Cash Receipts by Source,Western Cape
3,2013,25477705000,AUDA,CPT,City of Cape Town,Total Cash Payments by Type,Western Cape
4,2013,279832396,AUDA,DC1,West Coast,Total Cash Receipts by Source,Western Cape

In [99]:
#Cash receipts

cash_receipts = cash[cash["label"] == "Total Cash Receipts by Source"]
cash_receipts = cash_receipts[['Unnamed: 0', 'mun_code', 'total_amount']]
cash_receipts = cash_receipts.rename(columns = {'total_amount': 'cash_rec'})
cash_receipts.head()

   Unnamed: 0 mun_code     cash_rec
0        2013      BUF   3916670850
2        2013      CPT  26880069000
4        2013      DC1    279832396
6        2013     DC10    100725419
8        2013     DC12   1294021910

In [104]:
#cash payments

cash_payments = cash[cash["label"] == "Total Cash Payments by Type"]
cash_payments = cash_payments [['Unnamed: 0','mun_code', 'total_amount']]
cash_payments = cash_payments.rename(columns = {'total_amount': 'cash_pay'})
cash_payments.head()

   Unnamed: 0 mun_code     cash_pay
1        2013      BUF   3595324786
3        2013      CPT  25477705000
5        2013      DC1    254835902
7        2013     DC10    127516047
9        2013     DC12   1449251734

In [136]:
#cash balance

result = cash_receipts.merge(cash_payments, on = ['mun_code', 'Unnamed: 0'], how = 'left')
result['cash_bal'] = result['cash_rec'] - result['cash_pay']
result.sort_values('mun_code')

result # 1052 x 5

      Unnamed: 0 mun_code     cash_rec     cash_pay    cash_bal
0           2013      BUF   3916670850   3595324786   321346064
1           2013      CPT  26880069000  25477705000  1402364000
2           2013      DC1    279832396    254835902    24996494
3           2013     DC10    100725419    127516047   -26790628
4           2013     DC12   1294021910   1449251734  -155229824
5           2013     DC13    934517450    961986138   -27468688
6           2013     DC14    463485061    457316925     6168136
7           2013     DC15   1371058953   1598105967  -227047014
8           2013     DC16     41172679     54832615   -13659936
9           2013     DC18     95908853     96042655     -133802
10          2013     DC19     87875632     86097010     1778622
11          2013      DC2    308610715    277168703    31442012
12          2013     DC20    145526000    175941000   -30415000
13          2013     DC21    892380375    871767191    20613184
14          2013     DC22    530364929    524527180     5837749
15          2013     DC23    631560508    571191986    60368522
16          2013     DC24    497798539    481974917    15823622
17          2013     DC25    189391908    194629163    -5237255
18          2013     DC26    668900298    709900186   -40999888
19          2013     DC27    511145841    543936625   -32790784
20          2013     DC28    686611104    607479512    79131592
21          2013     DC29    637663026    644815487    -7152461
22          2013      DC3    118490629    104035062    14455567
23          2013     DC30    290158102    263430141    26727961
24          2013     DC31    370828275    352824256    18004019
25          2013     DC32    244133110    222655000    21478110
26          2013     DC33    756691164    765800073    -9108909
27          2013     DC34   1105000134   1004689421   100310713
28          2013     DC35    684689724    691742501    -7052777
29          2013     DC36    102792067    116547000   -13754933
...          ...      ...          ...          ...         ...
1022        2016    NW384    369818219    378496827    -8678608
1023        2016    NW392    361908797    344610953    17297844
1024        2016    NW393    138108394    137373169      735225
1025        2016    NW394    244995815    231701624    13294191
1026        2016    NW396    215917548    215806259      111289
1027        2016    NW397    170868242    148577839    22290403
1028        2016    NW403   1749858386   1754789496    -4931110
1029        2016    WC011    254806841    255029263     -222422
1030        2016    WC012    261156247    265226986    -4070739
1031        2016    WC014    852775573    859904309    -7128736
1032        2016    WC015    612149484    558560842    53588642
1033        2016    WC022    539902757    505246060    34656697
1034        2016    WC023   1684695756   1619516362    65179394
1035        2016    WC024    878337561   1359580649  -481243088
1036        2016    WC025    777975381    797483161   -19507780
1037        2016    WC026    559715446    538738894    20976552
1038        2016    WC031    409969493    421989714   -12020221
1039        2016    WC032   1011234659    941440526    69794133
1040        2016    WC033    238390184    242840476    -4450292
1041        2016    WC034    212360871    212592827     -231956
1042        2016    WC041    162101549    162526909     -425360
1043        2016    WC042    431530648    361445101    70085547
1044        2016    WC043    882757930    862699929    20058001
1045        2016    WC044   1493122629   1473680506    19442123
1046        2016    WC045    490606846    423389549    67217297
1047        2016    WC047    568455400    515877651    52577749
1048        2016    WC048    766359502    751691097    14668405
1049        2016    WC051     74052608     78846824    -4794216
1050        2016    WC052     71135764     55517296    15618468
1051        2016    WC053    255586739    255758786     -172047

[1052 rows x 5 columns]

In [164]:
# overdraft

balsheetRAW = pd.read_csv("/home/dside/Documents/GitHub/MunicipalData/Balancesheet.csv")
balsheetRAW

overdraft = balsheetRAW[balsheetRAW["label"] == "Bank Overdraft"]
overdraft.sort_values('mun_code')
overdraft #831 x 6

,Unnamed: 0,mun_name,mun_code,account_type,label,total_amount
16,2013,Buffalo City,BUF,AUDA,Bank Overdraft,0
57,2013,City of Cape Town,CPT,AUDA,Bank Overdraft,0
98,2013,West Coast,DC1,AUDA,Bank Overdraft,0
139,2013,Cacadu,DC10,AUDA,Bank Overdraft,0
180,2013,Amathole,DC12,AUDA,Bank Overdraft,0
221,2013,Chris Hani,DC13,AUDA,Bank Overdraft,0
262,2013,Joe Gqabi,DC14,AUDA,Bank Overdraft,0
303,2013,O.R.Tambo,DC15,AUDA,Bank Overdraft,0
344,2013,Xhariep,DC16,AUDA,Bank Overdraft,0
385,2013,Lejweleputswa,DC18,AUDA,Bank Overdraft,0
426,2013,Thabo Mofutsanyane,DC19,AUDA,Bank Overdraft,0
467,2013,Cape Winelands,DC2,AUDA,Bank Overdraft,0
508,2013,Fezile Dabi,DC20,AUDA,Bank Overdraft,0
549,2013,Ugu,DC21,AUDA,Bank Overdraft,3195209
590,2013,Umgungundlovu,DC22,AUDA,Bank Overdraft,0
631,2013,Uthukela,DC23,AUDA,Bank Overdraft,4527234
672,2013,Umzinyathi,DC24,AUDA,Bank Overdraft,0
713,2013,Amajuba,DC25,AUDA,Bank Overdraft,368191
754,2013,Zululand,DC26,AUDA,Bank Overdraft,0
795,2013,Umkhanyakude,DC27,AUDA,Bank Overdraft,0
836,2013,Uthungulu,DC28,AUDA,Bank Overdraft,0
877,2013,iLembe,DC29,AUDA,Bank Overdraft,0
918,2013,Overberg,DC3,AUDA,Bank Overdraft,0
959,2013,Gert Sibande,DC30,AUDA,Bank Overdraft,0
1000,2013,Nkangala,DC31,AUDA,Bank Overdraft,0
1041,2013,Ehlanzeni,DC32,AUDA,Bank Overdraft,0
1082,2013,Mopani,DC33,AUDA,Bank Overdraft,6787631
1123,2013,Vhembe,DC34,AUDA,Bank Overdraft,0
1164,2013,Capricorn,DC35,AUDA,Bank Overdraft,0
1205,2013,Waterberg,DC36,AUDA,Bank Overdraft,0
...,...,...,...,...,...,...
32857,2015,Kagisano/Molopo,NW397,AUDA,Bank Overdraft,0
32898,2015,Ventersdorp,NW401,AUDA,Bank Overdraft,0
32939,2015,Tlokwe City Council,NW402,AUDA,Bank Overdraft,0
32980,2015,City of Matlosana,NW403,AUDA,Bank Overdraft,0
33021,2015,Maquassi Hills,NW404,AUDA,Bank Overdraft,2432684
33062,2015,City of Tshwane,TSH,AUDA,Bank Overdraft,0
33103,2015,Matzikama,WC011,AUDA,Bank Overdraft,0
33144,2015,Cederberg,WC012,AUDA,Bank Overdraft,0
33185,2015,Bergrivier,WC013,AUDA,Bank Overdraft,0
33226,2015,Saldanha Bay,WC014,AUDA,Bank Overdraft,0
33267,2015,Swartland,WC015,AUDA,Bank Overdraft,0
33308,2015,Witzenberg,WC022,AUDA,Bank Overdraft,0
33349,2015,Drakenstein,WC023,AUDA,Bank Overdraft,0
33390,2015,Stellenbosch,WC024,AUDA,Bank Overdraft,0
33431,2015,Breede Valley,WC025,AUDA,Bank Overdraft,0
33472,2015,Langeberg,WC026,AUDA,Bank Overdraft,0
33513,2015,Theewaterskloof,WC031,AUDA,Bank Overdraft,0
33554,2015,Overstrand,WC032,AUDA,Bank Overdraft,0
33595,2015,Cape Agulhas,WC033,AUDA,Bank Overdraft,0
33636,2015,Swellendam,WC034,AUDA,Bank Overdraft,0
33677,2015,Kannaland,WC041,AUDA,Bank Overdraft,0
33718,2015,Hessequa,WC042,AUDA,Bank Overdraft,0
33759,2015,Mossel Bay,WC043,AUDA,Bank Overdraft,0
33800,2015,George,WC044,AUDA,Bank Overdraft,0
33841,2015,Oudtshoorn,WC045,AUDA,Bank Overdraft,48024578
33882,2015,Bitou,WC047,AUDA,Bank Overdraft,0
33923,2015,Knysna,WC048,AUDA,Bank Overdraft,0
33964,2015,Laingsburg,WC051,AUDA,Bank Overdraft,0
34005,2015,Prince Albert,WC052,AUDA,Bank Overdraft,0
34046,2015,Beaufort West,WC053,AUDA,Bank Overdraft,1932245

In [153]:
balsheetRAW.shape
balsheetRAW.iloc[34070,0]

2015

In [181]:
# calculating the measure

# note waiting on updated balance sheet (missing 2016)
cash_costData = overdraft.merge(result, on = ['mun_code', 'Unnamed: 0'], how = 'left')
cash_costData =  cash_costData[['Unnamed: 0', 'mun_name', 'mun_code', 'total_amount', 'cash_bal']]
cash_costData = cash_costData.rename(columns = {'total_amount': 'overdraft'})


cash_costData = cash_costData.merge(OpExp, on = ['mun_code', 'Unnamed: 0', 'mun_name'], how = 'left')
del cash_costData['label']
cash_costData = cash_costData.rename(columns = {'total_amount': 'opExp'})
cash_costData

cash_costCoverage = (cash_costData['cash_bal'] - cash_costData['overdraft'] ) / cash_costData['opExp']
cash_costCoverage

(831,)

## Fruitless and irregular expenditure

This ratio has been formulated to compare the fruitless expenditure to the total expenditure.


\frac{fruitless Expenditure + irregular Expenditure}{Operational expenditure}

In [220]:
wastedExp = pd.read_csv("/home/dside/Documents/GitHub/MunicipalData/Wasteful_expenditure.csv")
wastedExp.sort_values("mun_code")

      Unnamed: 0           mun_name mun_code         label  total_amount
0           2013       Buffalo City      BUF     fruitless     8080000.0
1667        2015       Buffalo City      BUF  unauthorised   245299178.0
833         2014       Buffalo City      BUF  unauthorised   186767984.0
832         2014       Buffalo City      BUF     irregular   409296000.0
831         2014       Buffalo City      BUF     fruitless     4663023.0
1666        2015       Buffalo City      BUF     irregular   479245175.0
1665        2015       Buffalo City      BUF     fruitless      479621.0
1           2013       Buffalo City      BUF     irregular   117128000.0
2           2013       Buffalo City      BUF  unauthorised    14478000.0
836         2014  City of Cape Town      CPT  unauthorised           NaN
835         2014  City of Cape Town      CPT     irregular       45000.0
834         2014  City of Cape Town      CPT     fruitless      294000.0
3           2013  City of Cape Town      CPT     fruitless           NaN
1668        2015  City of Cape Town      CPT     fruitless           NaN
5           2013  City of Cape Town      CPT  unauthorised           NaN
1670        2015  City of Cape Town      CPT  unauthorised           NaN
1669        2015  City of Cape Town      CPT     irregular      996506.0
4           2013  City of Cape Town      CPT     irregular     1465000.0
839         2014         West Coast      DC1  unauthorised           NaN
1671        2015         West Coast      DC1     fruitless        8697.0
1672        2015         West Coast      DC1     irregular    12431934.0
1673        2015         West Coast      DC1  unauthorised      161069.0
6           2013         West Coast      DC1     fruitless           0.0
837         2014         West Coast      DC1     fruitless           NaN
838         2014         West Coast      DC1     irregular           NaN
7           2013         West Coast      DC1     irregular           0.0
8           2013         West Coast      DC1  unauthorised           0.0
11          2013             Cacadu     DC10  unauthorised           NaN
842         2014             Cacadu     DC10  unauthorised           NaN
841         2014             Cacadu     DC10     irregular    12084000.0
...          ...                ...      ...           ...           ...
2489        2015             Knysna    WC048  unauthorised    22056976.0
821         2013             Knysna    WC048  unauthorised    15066000.0
2487        2015             Knysna    WC048     fruitless       12531.0
2490        2015         Laingsburg    WC051     fruitless       64909.0
2491        2015         Laingsburg    WC051     irregular    31025463.0
2492        2015         Laingsburg    WC051  unauthorised    23675097.0
1656        2014         Laingsburg    WC051     fruitless       12928.0
1658        2014         Laingsburg    WC051  unauthorised    22476171.0
1657        2014         Laingsburg    WC051     irregular    20558155.0
822         2013         Laingsburg    WC051     fruitless      610000.0
823         2013         Laingsburg    WC051     irregular     7709000.0
824         2013         Laingsburg    WC051  unauthorised    12227000.0
1660        2014      Prince Albert    WC052     irregular           NaN
2495        2015      Prince Albert    WC052  unauthorised       75109.0
2494        2015      Prince Albert    WC052     irregular     7990065.0
2493        2015      Prince Albert    WC052     fruitless           NaN
825         2013      Prince Albert    WC052     fruitless      801000.0
1659        2014      Prince Albert    WC052     fruitless      137240.0
826         2013      Prince Albert    WC052     irregular           NaN
1661        2014      Prince Albert    WC052  unauthorised    23962665.0
827         2013      Prince Albert    WC052  unauthorised     6240000.0
828         2013      Beaufort West    WC053     fruitless           NaN
829         2013      Beaufort West    WC053     irregular           NaN
830         2013      Beaufort West    WC053  unauthorised    14394000.0
2497        2015      Beaufort West    WC053     irregular    15871727.0
1664        2014      Beaufort West    WC053  unauthorised    47144485.0
1663        2014      Beaufort West    WC053     irregular       35000.0
1662        2014      Beaufort West    WC053     fruitless           NaN
2496        2015      Beaufort West    WC053     fruitless      159670.0
2498        2015      Beaufort West    WC053  unauthorised    28487953.0

[2499 rows x 5 columns]

In [219]:
wastedExp = wastedExp.groupby(by = ['mun_code', 'Unnamed: 0']).sum()
#wastedExp #833 x 1

Empty DataFrame
Columns: [Unnamed: 0, mun_name, mun_code, label, total_amount]
Index: []

In [215]:
OpExp = OpExp[OpExp['Unnamed: 0'] != 2016]
OpExp

OpExpGrouped = OpExp.groupby(by = ['mun_code', 'Unnamed: 0', 'mun_name']).sum()
OpExpGrouped #830 x 3

                                        total_amount
mun_code Unnamed: 0 mun_name
BUF      2013       Buffalo City          3951868256
         2014       Buffalo City          4628958558
         2015       Buffalo City          5296476100
CPT      2013       City of Cape Town    33231144093
         2014       City of Cape Town    36231887044
         2015       City of Cape Town    38201773840
DC1      2013       West Coast             251028646
         2014       West Coast             255543601
         2015       West Coast             293644049
DC10     2013       Cacadu                 117769673
         2014       Cacadu                 137021805
         2015       Cacadu                 117057815
DC12     2013       Amathole              1114395066
         2014       Amathole              1277309292
         2015       Amathole              1693229661
DC13     2013       Chris Hani             807944198
         2014       Chris Hani             713401047
         2015       Chris Hani            1065245885
DC14     2013       Joe Gqabi              408000836
         2014       Joe Gqabi              510637198
         2015       Joe Gqabi              490498080
DC15     2013       O.R.Tambo             1218340113
         2014       O.R.Tambo             1414476722
DC16     2013       Xhariep                 70745191
         2014       Xhariep                 59886763
         2015       Xhariep                 57054444
DC18     2013       Lejweleputswa          100498712
         2014       Lejweleputswa          105236718
         2015       Lejweleputswa          109720657
DC19     2013       Thabo Mofutsanyane     111230713
...                                              ...
WC041    2013       Kannaland              108002940
         2014       Kannaland              157906548
         2015       Kannaland              131220908
WC042    2013       Hessequa               303497459
         2014       Hessequa               336885259
         2015       Hessequa               312751220
WC043    2013       Mossel Bay             680423180
         2014       Mossel Bay             683573593
         2015       Mossel Bay             725610412
WC044    2013       George                1169250162
         2014       George                1425448475
         2015       George                1442223896
WC045    2013       Oudtshoorn             431347613
         2014       Oudtshoorn             464309538
         2015       Oudtshoorn             526146786
WC047    2013       Bitou                  351314879
         2014       Bitou                  416394146
         2015       Bitou                  475900584
WC048    2013       Knysna                 556270987
         2014       Knysna                 609548172
         2015       Knysna                 629279263
WC051    2013       Laingsburg              44480475
         2014       Laingsburg              56702330
         2015       Laingsburg              72017795
WC052    2013       Prince Albert           39518172
         2014       Prince Albert           66519148
         2015       Prince Albert           69530778
WC053    2013       Beaufort West          197827733
         2014       Beaufort West          254291074
         2015       Beaufort West          258860909

[830 rows x 1 columns]

In [222]:
wastedProp = pd.DataFrame()

wastedProp['total'] = OpExpGrouped['total_amount']

wastedProp = wastedProp.merge(wastedExp, how = 'left') 

wastedProp


#wastedExp = wastedExp.merge(OpExp, on = ['mun_code', 'Unnamed: 0', 'mun_name'], how = 'left')
#wastedExp

MergeError: No common columns to perform merge on

## Financial Measures table

In [ ]:
# table to be exported to csv table

In [ ]:
#page = requests.get("https://en.wikipedia.org/wiki/List_of_municipalities_in_South_Africa")
#soup = BeautifulSoup(page.content, 'html.parser')
#soup

#from lxml import html
#import requests

#page = requests.get('https://en.wikipedia.org/wiki/List_of_municipalities_in_South_Africa')
#page.status_code
#tree = html.fromstring(page.content)

#huabeiTree =tree.xpath('//table[@class="wikitable sortable"]')
#huabeiTree
#list_of_municipalities_table = huabeiTree[0] # table[0] is what we need


# Iterate over the table, get all the <tr> nodes
#then get the values of cities with tr[0][0].text
#for tr in list_of_municipalities_table:
    
   # if tr[0].tag == 'td':
    #    print (tr[0][0].text)
    #if tr[1].tag == 'td':
     #   print (tr[0][1].text)
    #if tr[2].tag == 'td':
     #   print (tr[0][2].text)
        
        
#searching for tags by class and type

#soup.find_all('table', class_ ='wikitable sortable')

#soup.xpath('//tr[@id="Metropolitan_municipalities"]/text()')

#soup.find_all('tr', class_ = 'wikitable sortable')

#looping through table rows and extracting data

#df = pd.DataFrame()
#data = soup.find_all('table', class_ ='wikitable sortable')

#for tr in soup.find_all('table', class_ ='wikitable sortable'):
 #   tds = tr.find_all('td')
 #   tds = pd.DataFrame(tds)
 #   df.append(tds)
 #   print (df)